---
const pageTitle = 'About ME';
const identity = {
	firstname: 'Albert',
	lastname: 'Au',
	country: 'Canada',
	age: 25,
	hobbies: ['football', 'reading', 'swimming'],
};
const skills = ['HTML', 'CSS', 'JS'];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} - Astro Lesson</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
		</nav>
		<h1>{pageTitle}</h1>
		<p>Hi, my name is {identity.firstname} {identity.lastname}. I am from {identity.country}. I am {identity.age} years old.</p>
		<p>I love {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}.</p>
		<p>I know:</p>
		<ul>
			{skills.map((skill) =>  <li>{skill}</li>)}
		</ul>
	</body>
</html>
